@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-2xl;
    }

    ul {
        @apply list-inside list-disc;
    }

    ol {
        @apply list-inside list-decimal;
    }

    p {
        @apply my-2;
    }

    /* ... */
}

@layer components {
    .main-content {
        @apply max-w-screen-lg container mx-auto;
    }
}

.main-content p a,
.main-content ol a,
.main-content ul a {
    text-decoration: underline;
}
main p a,
main ol a,
main ul a {
    text-decoration: underline;
}

/* ... */


#social-buttons {}

#social-buttons a {
    display: inline-block;
    margin: 0.25em;
    font-size: 3em;
    list-style: none;
}


#social-buttons a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.fa-facebook,
.fa-facebook-square {
    color: #3c599f;
}

.fa-twitter,
.fa-square-twitter {
    color: #00aced;
}

.fa-x-twitter,
.fa-square-x-twitter {
    color: #000;
}

.fa-linkedin {
    color: #0085ae;
}

.fa-telegram {
    color: #0088cc;
}

.fa-telegram-white {
    color: #ffffff;
}

.fa-whatsapp,
.fa-square-whatsapp {
    color: #4fce5d;
}

.fa-reddit {
    color: #ff4500;
}

.fa-hacker-news {
    color: #f37022;
}

.fa-vk {
    color: #375474;
}

.fa-pinterest {
    color: #cb2027;
}

.fa-get-pocket {
    color: #ee4056;
}

.fa-evernote {
    color: #1fb655;
}

.fa-skype {
    color: #01aef2;
}

.fa-xing,
.fa-square-xing {
    color: #00555c;
}

.fa-share {
    color: #1977d4;
}

.fa-envelope {
    color: #ea4445;
}


.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

nav i {

    width: 26px;
}

.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #0a5cb5;
    color: white;
}

.home-main-action-btn {
    background-color: #4CAF50;
    /* Задаем начальный цвет фона */
    color: white;
    /* Задаем цвет текста */
    padding: 20px 40px;
    /* Задаем отступы внутри кнопки */
    font-size: 24px;
    border: none;
    /* Убираем границу кнопки */
    border-radius: 5px;
    /* Задаем скругление углов кнопки */
    cursor: pointer;
    /* Задаем вид курсора при наведении на кнопку */
    text-decoration: none;
    animation: pulse 4s alternate infinite, waves 2s infinite;
}

.home-main-action-btn:hover {
    background-color: #118619;
    /* Задаем цвет фона при наведении на кнопку */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes waves {
    0% {
        box-shadow: 0 0 0 0 rgba(41, 223, 77, 0.3), 0 0 0 0 rgba(41, 223, 77, 0.3);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(41, 223, 77, 0), 0 0 0 40px rgba(41, 223, 77, 0);
    }
}

.quiz-action-btn {
    background-color: #4CAF50;
    /* Задаем начальный цвет фона */
    color: white;
    /* Задаем цвет текста */
    padding: 10px 20px;
    /* Задаем отступы внутри кнопки */
    font-size: 18px;
    border: none;
    /* Убираем границу кнопки */
    border-radius: 5px;
    /* Задаем скругление углов кнопки */
    cursor: pointer;
    /* Задаем вид курсора при наведении на кнопку */
    text-decoration: none;
    animation: pulse 2s alternate infinite;
}

.quiz-action-btn:hover {
    background-color: #118619;
    /* Задаем цвет фона при наведении на кнопку */
}

.start-task-btn {
    background-color: #4CAF50;
    /* Задаем начальный цвет фона */
    color: white;
    /* Задаем цвет текста */
    padding: 20px 40px;
    /* Задаем отступы внутри кнопки */
    font-size: 24px;
    border: none;
    /* Убираем границу кнопки */
    border-radius: 5px;
    /* Задаем скругление углов кнопки */
    cursor: pointer;
    /* Задаем вид курсора при наведении на кнопку */
    text-decoration: none;
    animation: pulse 4s alternate infinite, waves 2s infinite;
    max-width: 200px;
}

.start-task-btn:hover {
    background-color: rgb(17, 134, 25);
    /* Задаем цвет фона при наведении на кнопку */
}

.animated-pulsating-text {
    animation: pulse 3s infinite;
    text-align: center;
    padding: 15px 15px;
}

.join-channel-btn {
    background-color: #2481cc;
    /* Задаем начальный цвет фона */
    color: white;
    /* Задаем цвет текста */
    padding: 10px 20px;
    /* Задаем отступы внутри кнопки */
    font-size: 24px;
    border: none;
    /* Убираем границу кнопки */
    border-radius: 5px;
    /* Задаем скругление углов кнопки */
    cursor: pointer;
    /* Задаем вид курсора при наведении на кнопку */
    text-decoration: none;
    animation: pulse 4s alternate infinite;
}

.join-channel-btn:hover {
    background-color: #3999e6;
    /* Задаем цвет фона при наведении на кнопку */
}